/* --- Header.module.scss --- */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  box-sizing: border-box;

  @media (min-width: 557px) {
    padding-left: 80px;  // Десктопная версия (совпадает с футером 80px)
    padding-right: 80px;}

  .logoContainer {
    flex-shrink: 0;
    display: flex;
    align-items: center ;
  }

  .logo {
    width: auto;
    height: clamp(80px, 12vw, 140px);
    object-fit: contain;
    margin-top: -20px;
    margin-bottom: -20px;
  }
}

$breakpoint-desktop: 1550px;

.navWrapper {
  display: none;
  flex: 1;
  justify-content: center;
  min-width: 0;

  // Меню появится только на ОЧЕНЬ широких экранах (или при 100% зуме на Full HD)
  @media screen and (min-width: #{$breakpoint-desktop}) {
    display: flex;
  }
}

.burgerMenuIcon {
  display: flex;
  flex-shrink: 0;
  cursor: pointer;

  // Бургер исчезнет только тогда, когда включится десктопное меню
  @media screen and (min-width: #{$breakpoint-desktop}) {
    display: none !important;
  }
}