// --- Base Styles ---

.header {
  height: auto;
  margin: 0;
  padding: 0 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  gap: 20px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: black;

  .logoContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 12px;
    overflow: hidden;
    padding: 8px 0;


    &:hover {
      transform: scaleX(-1);
    }
  }

  .logo {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: inherit;
  }
}

.navWrapper {
  flex: 1;
  display: flex;
  justify-content: center; //flex-end
  @media screen and (max-width: 619px) {
    display: none;
  }
}


.burgerMenuIcon {
  display: inline-block;
  cursor: pointer;
  height: 40px;
  width: 55px;
  padding-left: 15px;
}

@media screen and (max-width: 618px) {
  .burgerMenuIcon {
    display: flex;
    width: 60px;
    height: 50px;
    padding-left: 15px;
  }
}

@media screen and (min-width: 619px) {
  .burgerMenuIcon {
    display: none !important;
  }
}

// --- adaptive for header and logo ---

@media screen and (max-width: 618px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
  }

  .logoContainer {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    overflow: hidden;
  }

  .logo {
    width: 80px;
    height: 80px;
  }

}


.header h1 {
  padding-right: 70px;
}