/* ===== МОБИЛКА: фуллскрин drawer ===== */

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;               /* растягиваем до низа */
  width: 260px;
  padding-top: 80px;       /* отступ сверху под крестик/лого */

  background-color: #000;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.sidebar.open {
  transform: translateX(0);
}


/* затемнение поверх всей страницы */
.background {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 90;
}

/* крестик */
.close {
  position: absolute;
  top: 20px;
  right: 190px;
  font-size: 40px;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  z-index: 101;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* ===== ТОЛЬКО ПЛАНШЕТ: sidebar слева постоянно ===== */
@media screen and (min-width: 1100px) {
  .sidebar {
    display: none;
  }

  .background {
    display: none;
  }
}

  .close {
    display: none;       /* крестик тоже */
  }



/* ===== ДЕСКТОП >= 1024px: sidebar не нужен ===== */
@media screen and (min-width: 1024px) {
  .sidebar {
    display: none;
  }

  .background {
    display: none;
  }
}
