.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 74%;
  max-width: 340px;
  padding: 35.5px;

  background-color: #000;
  border-left: 1px solid #333;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  flex-direction: column;
}

.sidebar.open {
  transform: translateX(0);
}

/* Навигация */
.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Выравнивание по левому краю */
  margin-top: 60px;
  gap: 20px;
  width: 100%;
}

.nav a {
  font-size: clamp(1.5rem, 7vw, 2.5rem);
  word-break: break-all;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 0.9;
  letter-spacing: -0.02em;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}

.nav a:hover {
  color: #555;
}

/* Крестик */
.close {
  align-self: flex-end;
  font-size: 40px;
  line-height: 1;
  padding: 0;
  transition: transform 0.3s ease;
  &:hover {
    transform:rotate(90deg);
  }
}

/* Затемнение */
.background {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
  z-index: 90;
}
