.navLink {
  all: unset;
  box-sizing: border-box;

  display: inline-block;
  position: relative;

  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 0.015em;
}

.navLink:visited,
.navLink:link {
  text-decoration: none;
}

.navLink:hover {
  color: #676767;
}

.navLink::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 3px;
  background: #676767;

  transition: width 0.25s ease-in-out;
}

.navLink:hover::before {
  width: 100%;
}

.active {
  color: #676767;
}

.active::before {
  width: 100%;
  background-color: #676767;
}
