.navbar {
  display: flex;
  align-items: center;
  gap: 40px;
  width: auto; // Позволяем контейнеру быть компактным
  white-space: nowrap;
}

@media (min-width: 1400px) {
  .navbar {
    gap: 48px;
  }
}


